.arrow-button.white button {
  justify-content: center;
  width: auto;
  background: var(--main-background-color);
  padding: 8px 16px;
}
.arrow-button {
  display: inline-block;
  font-size: inherit;
  border-radius: 50px;
}
.arrow-button button {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: inherit;
}
.arrow-button__content {
  margin-left: 24px;
  font-size: inherit;
  line-height: 2.8rem;
  font-family: var(--heading-font-family), sans-serif;
  white-space: nowrap;
  color: var(--contrast-color);
}
