.arrow-button.white button {
  background: var(--main-background-color);
  padding: 8px 16px;
}
.arrow-button {
  display: inline-block;
  font-size: inherit;
  border-radius: 50px;
  transition: var(--hover-default-transition);
}
.arrow-button:hover {
  transform: translateY(-3px);
}
.arrow-button svg {
  fill: var(--contrast-color);
}
.arrow-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: inherit;
  color: var(--contrast-color);
}
.arrow-button.contrast svg {
  fill: var(--main-background-color);
}

.arrow-button.contrast button {
  background: var(--contrast-color);
  padding: 8px 16px;
  color: var(--main-background-color);
}
.arrow-button__content {
  margin-left: 24px;
  font-size: inherit;
  line-height: 2.8rem;
  font-family: var(--heading-font-family), sans-serif;
  /* white-space: nowrap; */
  color: inherit;
}
