*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --animation-duration: 2s;
  color-scheme: light dark; /* both supported */
  --text-font-family: "Mulish";
  --heading-font-family: "Hammersmith One";
  --hover-default-transition: transform 250ms ease;

  --white: #f5f5f5;
  --black: #2e2836;
  --red: #d81159;
  --yellow: #f6ae2d;
  --dark-purple: #1c2039;
  --grayish-purple: #252c47;
  --purple: #3d348bbf;
}
:root,
html[data-theme="light"] {
  --contrast-color: var(--red);
  --grayish-white: #e1eff6;

  --main-background-color: var(--grayish-white);
  --main-heading-color: var(--black);
  --alt-background-color: var(--contrast-color);
  --alt-heading-color: var(--grayish-white);
  --input-background-color: var(--white);
  --input-stroke-color: var(--grayish-white);
  --input-placeholder-color: #2f2e414d;
  --text-color: var(--black);
  --toggle-shadow-color: var(--dark-purple);

  --projects-title-color: var(--grayish-white);
  --projects-arrow-button-background-color: var(--white);
  --projects-arrow-button-background-text: var(--red);
}
:root[data-theme="dark"] {
  --contrast-color: var(--yellow);
  --grayish-white: #e1eff6cc;

  --main-background-color: var(--dark-purple);
  --main-heading-color: var(--contrast-color);
  --alt-background-color: var(--grayish-purple);
  --alt-heading-color: var(--grayish-white);
  --input-background-color: var(--grayish-purple);
  --input-stroke-color: var(--purple);
  --input-placeholder-color: #e1eff64d;
  --text-color: var(--grayish-white);
  --toggle-shadow-color: var(--contrast-color);

  --projects-title-color: var(--contrast-color);
  --projects-arrow-button-background-color: var(--white);
  --projects-arrow-button-background-text: var(--red);
}
svg {
  fill: var(--contrast-color);
}

svg.with-stroke {
  stroke: var(--contrast-color);
}
html {
  font-size: 62.5%;
  background: var(--main-background-color);
  color: var(--heading-color);
  transition: background 150ms ease;
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, var(--text-font-family),
    var(--heading-font-family), "Oxygen", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1230px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 22rem 0;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: inherit;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

section {
  width: 100%;
}
section:not(:first-child):not(:nth-child(n-1)):not(:last-child) {
  padding: 12rem 0;
}
section h2 {
  font-size: 7.6rem;
  color: var(--heading-color);
}

@media screen and (max-width: 1080px) {
  .row {
    flex-flow: row wrap !important;
  }
}

a:-webkit-any-link {
  color: var(--contrast-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family), sans-serif;
}

input:-webkit-autofill {
  background-color: var(--input-background-color);
}

.g-recaptcha {
  margin: 4px 0 16px;
  width: 100%;
}
#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}
